// Release：生产域名
#include "CrashReporting.xcconfig"
#include "CertificatePinning.xcconfig"
#include "AppAttest.xcconfig"
#include "APIEndpoints.xcconfig"
#include "Wechat.xcconfig"
// #include "Wechat.Secrets.xcconfig"
#include "BaiduPan.xcconfig"
#include "DeviceLocalBackup.xcconfig"
// #include "BaiduPan.Secrets.xcconfig"
// 生产 SPKI pin：复制 CertificatePinning.Secrets.xcconfig.example 后取消下行注释
// #include "CertificatePinning.Secrets.xcconfig"
#include "Ads.xcconfig"

APP_ENVIRONMENT = production
CERT_PINNING_ENABLED = YES
APP_ATTEST_ENABLED = YES
IAP_USE_STOREKIT = YES
ADS_USE_LIVE_SDK = YES
ATS_ALLOWS_LOCAL_NETWORKING = NO
CRASH_REPORTING_ENABLED = YES
WECHAT_USE_OPENSDK = YES
BAIDU_PAN_USE_LIVE_OAUTH = YES
ICLOUD_USE_LIVE_BACKUP = YES
PHOTOS_USE_LIVE_BACKUP = YES
